body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --------------------------------------HEADER-------------------------------------- */
.header-container {
    height: 20vh;
}

/*------------NAVBAR------------*/
.navbar {
    background-color: #c5e0f4;
}

/* --------------------------------------MAIN-------------------------------------- */
.main-container {
    height: 73vh;
}

/* --------------------------------------FOOTER-------------------------------------- */
.footer-container {
    height: 7vh;
}